@import "./bootstrap/bootstrap.scss";

// see also css/bootstrap/_custom.scss

pre {
  font-size: .875em;
  white-space: pre-wrap;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  margin-bottom: $spacer-y * 1.5;
}

.navbar-brand {
  font-weight: 600;
}

.hero {
  width: 100%;
  height: 100%;
  background: hsla(180, 5%, 98%, 1);

  .text-muted {
    color: lighten($body-color, 25) !important;
  }

  h1 {
    color: #28799f;
    font-size: 3.5rem;
  }
}

.navbar-light {
  .navbar-brand {
    color: #455861;
    @include hover-focus {
      color: #455861;
    }
  }
}

.docs-ref-toc {
  border-right: 1px solid #efefef;

  &.sticky {
    bottom: 0;
    overflow-y: scroll;
  }

  li > p {
    margin-bottom: 0;
  }

  .nav-item {
    > p {
      padding-top: $spacer * .5;
    }

    ul.nav { display: none; }
    &.active {
      ul.nav { display: block; }
      p .nav-link {
        font-weight: 500;
      }
    }

    > ul.nav {
      padding-left: 1em;
      padding-bottom: .5em;
    }

  }

  .nav-link {
    padding: 0 1em;
    color: $text-muted;

    &:hover {
      color: $link-color;
    }
  }
}

.docs-ref-docs {
  section {
    margin-bottom: $spacer * 4.5;
  }
  h2 {
    border-bottom: 1px solid $gray-lighter;
  }
  h3 {
    padding: $spacer 0;
    font-size: $font-size-h4;
    font-weight: 300;
  }

  .heading-anchor {
    margin-left: -1.5rem;
    padding-right: .5rem;
    opacity: 50%;
    visibility: hidden;
  }
  h2:hover, h3:hover {
    .heading-anchor {
      visibility: visible;
    }
  }

}


.compiled-code-group {
  border: 1px solid hsla(199, 8%, 77%, 1);

  &.compiled-code-group-ace {
    box-shadow: 0 0 6px 3px hsla(199, 8%, 77%, 0.3);
    border-radius: 2px;
    .js {
      @include media-breakpoint-up('xs') {
        box-shadow: inset 3px 0 3px -3px hsla(201, 15%, 50%, 1);
      }
      @include media-breakpoint-down('xs') {
        box-shadow: inset 0 3px 3px -3px hsla(201, 15%, 50%, 1);
      }
    }
  }

  &.compiled-code-group-highlight {
    border-radius: 3px;
    .js {
      @include media-breakpoint-up('xs') {
        box-shadow: inset 2px 0 2px -2px hsla(201, 15%, 50%, 1);
      }
      @include media-breakpoint-down('xs') {
        box-shadow: inset 0 2px 2px -2px hsla(201, 15%, 50%, 1);
      }
    }
  }

  .lsc {
    background-color: unquote("hsla(201, 15%, 99%, 1)");
  }

  .js {
    background-color: hsla(201, 15%, 98%, 1);
    box-shadow: inset 3px 0 3px -3px hsla(201, 15%, 50%, 1);
  }
}
