@import "./bootstrap/bootstrap.scss";

// see also css/bootstrap/_custom.scss

pre {
  background-color: #FCFBFA;
  border-left: solid 3px #ECEAE9;
  font-size: .875em;
  padding: .5rem 8px .5rem 12px;
  white-space: pre-wrap;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  margin-bottom: $spacer-y * 1.5;
}

.navbar-brand {
  font-weight: 600;
}

.hero {
  width: 100%;
  height: 100%;
  background: #f9f5d7;

  .text-muted {
    color: lighten($body-color, 25) !important;
  }

  h1 {
    color: #28799f;
    text-shadow: 1px 1px 1px rgba(0,0,0, .2);
    font-size: 3.5rem;
  }
}

.navbar-light {
  .navbar-brand {
    color: #455861;
    @include hover-focus {
      color: #455861;
    }
  }
}

.docs-ref-toc {
  border-right: 1px solid #efefef;

  &.sticky {
    bottom: 0;
    overflow-y: scroll;
  }

  li > p {
    margin-bottom: 0;
  }

  .nav-item {
    > p {
      padding-top: $spacer * .5;
    }

    ul.nav { display: none; }
    &.active {
      ul.nav { display: block; }
      p .nav-link {
        font-weight: 500;
      }
    }

    > ul.nav {
      padding-left: 1em;
      padding-bottom: .5em;
    }

  }

  .nav-link {
    padding: 0 1em;
    color: $text-muted;

    &:hover {
      color: $link-color;
    }
  }
}

.docs-ref-docs {
  section {
    margin-bottom: $spacer * 4.5;
  }
  h2 {
    border-bottom: 1px solid $gray-lighter;
  }
  h3 {
    padding: $spacer 0;
    font-size: $font-size-h4;
    font-weight: 300;
  }

  .heading-anchor {
    margin-left: -1.5rem;
    padding-right: .5rem;
    opacity: 50%;
    visibility: hidden;
  }
  h2:hover, h3:hover {
    .heading-anchor {
      visibility: visible;
    }
  }

}
