{
  "plugins": [
    "lightscript",
    "transform-object-rest-spread",
    "add-module-exports",
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    "react"
  ],
  "ignore": [
    "node_modules",
    "babel-plugin-lightscript",
    "babylon-lightscript"
  ]
}
